# MongoDB Connection String
DATABASE_URL=mongodb+srv://aqualisten:aqualisten25@aqualisten.ukxoenp.mongodb.net/aqualisten?retryWrites=true&w=majority&appName=AquaListen

# Server Configuration
PORT=3001
NODE_ENV=development
